<h1>Editing User</h1>

<%= render "form", user: @user %>

<br>

<div>
  <div class="row mb-3">
    <%= button_to "<< Back to Users", users_path, :method => "get" , class: 'btn btn-primary' %>
  </div>
</div>
